In [6]:
import sklearn_pandas, sklearn
import pandas as pd
import numpy as np

In [7]:
test = pd.DataFrame( np.random.randint(1_000_000, size=(1_000_000, 1)), columns=['num'])

In [8]:
test.head()

      num
0  185331
1  491306
2  249034
3   48309
4  906827

## функция которая умеет работать с векторами

In [9]:
def f_log(x):
    return np.log(x+0.000001)

In [10]:
%%timeit
a = sklearn.preprocessing.FunctionTransformer(func=f_log, validate=False).fit_transform(test)

20.4 ms ± 47.1 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [11]:
%%timeit
b = sklearn_pandas.FunctionTransformer(f_log).fit_transform(test)

1.01 s ± 4.15 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [12]:
%%timeit
c = test["num"].apply(f_log)

1.1 s ± 6.36 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Строковая функция

In [14]:
def f_log(x):
    return '{x}'[0]

In [15]:
%%timeit
b = sklearn_pandas.FunctionTransformer(f_log).fit_transform(test)

221 ms ± 261 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [16]:
%%timeit
c = test["num"].apply(f_log)

109 ms ± 124 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [22]:
a = sklearn.preprocessing.FunctionTransformer(func=f_log, validate=False).fit_transform(test)

In [23]:
print(a) # <-- применяется неправильно

{